.acceuil {
    height: 100vh;
}

.conteneur_titre {
    border-style: ridge;
    border-color: white;
    border-width: 1.5mm;
    margin-bottom: 4vw;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 150px;
}

.titre {
    margin-top: 4%;
}