<section class="acceuil d-flex w-100 flex-column justify-content-center align-items-center">
    <div class="container py-10 container-sm text-center w-50 h-25 conteneur_titre block box">
        <h1 class="display-1 text-center titre">MineSweeper</h1>
    </div>
    <div class="container py-10 container-sm text-center w-100 h-25">
        <div class="row w-100 h-100 bg-transparents">
            <div class="col-md-4 col-sm-6 text-center w-50 h-75 block">
                <button (click)="goSolo()" class="btn btn-primary h-50 w-50 display-1 button">Solo</button>
            </div>
            <div class="col-md-4 col-sm-6 text-center w-50 h-75 block">
                <button (click)="goDuo()" class="btn btn-primary h-50 w-50 display-1 button2">Duo</button>
            </div>
        </div>
    </div>
</section>



