<section class="acceuil d-flex w-100 flex-column justify-content-center align-items-center">
    <div class="container py-10 container-sm text-center w-50 h-25 conteneur_titre">
        <h1 class="display-1 text-center titre">MineSweeper</h1>
    </div>
    <div class="container py-10 container-sm text-center w-50 h-25">
        <div class="row w-100 h-100">
            <div class="col-md-4 col-sm-6 text-center w-50">
                <button (click)="goSolo()" class="btn btn-primary h-25 w-50 display-1"><b>Solo</b></button>
            </div>
            <div class="col-md-4 col-sm-6 text-center w-50">
                <button (click)="goDuo()" class="btn btn-primary h-25 w-50 display-1"><b>Duo</b></button>
            </div>
        </div>
    </div>
</section>

