.card{
    cursor: pointer;
}
.flag{
    background-image: url('../../assets/flagged.png') !important;
}

.zero{
    background-image: url('../../assets/0.png') !important;
}
.one
{
    background-image: url('../../assets/1.png') !important;
}
.two{
    background-image: url('../../assets/2.png') !important;
}
.three{
    background-image: url('../../assets/3.png') !important;
}
.four{
    background-image: url('../../assets/4.png') !important;
}
.five{
    background-image: url('../../assets/5.png') !important;
}
.six{
    background-image: url('../../assets/6.png') !important;
}
.seven{
    background-image: url('../../assets/7.png') !important;
}
.eight{
    background-image: url('../../assets/8.png') !important;
}
.mine{
    background-image: url('../../assets/mine.jpg') !important;
}
.default{
    background-image: url('../../assets/9.png');
    height: 30px;
    width: 30px;
    cursor: pointer;
}
.row>*{
    padding: 0px !important;
    //margin: 0px !important;
}
.row{
    width: 540px;
}

.padding {
    padding-top: 2%;
}

.titre {
    margin-top: 3%;
}

.score {
    margin-top: 8%;
}

.jeu {
    margin-top: -60px;
}

@keyframes float {
    0% {
      transform: translatey(0px);
    }
    50% {
      transform: translatey(-20px);
    }
    100% {
      transform: translatey(0px);
    }
}

.block {
    transform: translatey(0px);
    animation: float 6s ease-in-out infinite;
}

.button {
    border: none;
    border-radius: 4px;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.48);
    overflow: hidden;
    padding: 20px 50px 20px 70px;
    margin-bottom: 20px;
    font-size: 20px;
    position: relative;
    color: white;
    outline: none;
    cursor: pointer;
    width: 70%;
    -webkit-transition: background-position .7s,box-shadow .4s;
    transition: background-position .7s,box-shadow .4s;
    background-size: 110%;
    font-family: 'Oswald', sans-serif;
  }
  .button:hover {
    background-position: 0% 30%;
  }
  .button:hover:after {
    right: -40px;
    -webkit-transition: right .4s,-webkit-transform 30s .2s linear;
    transition: right .4s,-webkit-transform 30s .2s linear;
    transition: right .4s,transform 30s .2s linear;
    transition: right .4s,transform 30s .2s linear,-webkit-transform 30s .2s linear;
  }
  .button:before, .button:after {
    font-family: FontAwesome;
    display: block;
    position: absolute;
  }
  .button:before {
    -webkit-transition: all 1s;
    transition: all 1s;
    font-size: 30px;
    left: 25px;
    top: 30px;
  }
  .button:after {
    -webkit-transition: right .4s, -webkit-transform .2s;
    transition: right .4s, -webkit-transform .2s;
    transition: right .4s, transform .2s;
    transition: right .4s, transform .2s, -webkit-transform .2s;
    font-size: 100px;
    opacity: .3;
    right: -120px;
    top: -17px;
  }
  
  .button {
    box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.16) inset, 0px 0px 10px 0px #ff331f;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff331f), to(#ff867b));
    background: linear-gradient(to bottom, #ff331f, #ff867b);
  }
  .button:hover {
    box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.16) inset, 0px 0px 30px 0px #ff331f;
  }
  .button:hover:after {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .button:hover:before {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  .button:after, .button:before {
    content: "↪";
  }
  .button b {
    color: #ff867b;
    font-weight: 700;
  }

.button2 {
    border: none;
    border-radius: 4px;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.48);
    overflow: hidden;
    padding: 20px 50px 20px 70px;
    margin-bottom: 20px;
    font-size: 20px;
    position: relative;
    color: white;
    outline: none;
    cursor: pointer;
    width: 50%;
    -webkit-transition: background-position .7s,box-shadow .4s;
    transition: background-position .7s,box-shadow .4s;
    background-size: 110%;
    font-family: 'Oswald', sans-serif;
  }
  .button2:hover {
    background-position: 0% 30%;
  }
  .button2:hover:after {
    right: -40px;
    -webkit-transition: right .4s,-webkit-transform 30s .2s linear;
    transition: right .4s,-webkit-transform 30s .2s linear;
    transition: right .4s,transform 30s .2s linear;
    transition: right .4s,transform 30s .2s linear,-webkit-transform 30s .2s linear;
  }
  .button2:before, .button2:after {
    font-family: FontAwesome;
    display: block;
    position: absolute;
  }
  .button2:before {
    -webkit-transition: all 1s;
    transition: all 1s;
    font-size: 30px;
    left: 25px;
    top: 11px;
  }
  .button2:after {
    -webkit-transition: right .4s, -webkit-transform .2s;
    transition: right .4s, -webkit-transform .2s;
    transition: right .4s, transform .2s;
    transition: right .4s, transform .2s, -webkit-transform .2s;
    font-size: 100px;
    opacity: .3;
    right: -120px;
    top: -17px;
  }
  
  .button2 {
    box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.16) inset, 0px 0px 10px 0px #ff331f;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff331f), to(#ff867b));
    background: linear-gradient(to bottom, #ff331f, #ff867b);
  }
  .button2:hover {
    box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.16) inset, 0px 0px 30px 0px #ff331f;
  }
  .button2:hover:after {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .button2:hover:before {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  .button2:after, .button2:before {
    content: "⬅";
  }
  .button2 b {
    color: #ff867b;
    font-weight: 700;
  }

  .button3 {
    border: none;
    border-radius: 4px;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.48);
    overflow: hidden;
    padding: 20px 50px 20px 70px;
    margin-bottom: 20px;
    font-size: 20px;
    position: relative;
    color: white;
    outline: none;
    cursor: pointer;
    width: 70%;
    -webkit-transition: background-position .7s,box-shadow .4s;
    transition: background-position .7s,box-shadow .4s;
    background-size: 110%;
    font-family: 'Oswald', sans-serif;
  }
  .button3:hover {
    background-position: 0% 30%;
  }
  .button3:hover:after {
    right: -40px;
    -webkit-transition: right .4s,-webkit-transform 30s .2s linear;
    transition: right .4s,-webkit-transform 30s .2s linear;
    transition: right .4s,transform 30s .2s linear;
    transition: right .4s,transform 30s .2s linear,-webkit-transform 30s .2s linear;
  }
  .button3:before, .button3:after {
    font-family: FontAwesome;
    display: block;
    position: absolute;
  }
  .button3:before {
    -webkit-transition: all 1s;
    transition: all 1s;
    font-size: 30px;
    left: 25px;
    top: 30px;
  }
  .button3:after {
    -webkit-transition: right .4s, -webkit-transform .2s;
    transition: right .4s, -webkit-transform .2s;
    transition: right .4s, transform .2s;
    transition: right .4s, transform .2s, -webkit-transform .2s;
    font-size: 100px;
    opacity: .3;
    right: -120px;
    top: -10px;
  }
  
  .button3 {
    box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.16) inset, 0px 0px 10px 0px #ff331f;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff331f), to(#ff867b));
    background: linear-gradient(to bottom, #ff331f, #ff867b);
  }
  .button3:hover {
    box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.16) inset, 0px 0px 30px 0px #ff331f;
  }
  .button3:hover:after {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .button3:hover:before {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  .button3:after, .button3:before {
    content: "🥇";
  }
  .button3 b {
    color: #ff867b;
    font-weight: 700;
  }

  .block {
    transform: translatey(0px);
    animation: float 6s ease-in-out infinite;
  }
  
  .box{
    background: #111845a6;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 20px 50px rgb(23, 32, 90);
    border: 2px solid #2a3cad;
    color: white;
    border-radius: 50px;
  }
  
  .box:before{
    content: '';
    position:absolute;
    top:0;
    left:-100%;
    width:100%;
    height:100%;
    background: rgba(255,255,255,0.1);
    transition:0.5s;
    pointer-events: none;
  }
  
  .box:hover:before{
    left:-50%;
    transform: skewX(-5deg);
  }
  
  
  .box .content{
    position:absolute;
    top:15px;
    left:15px;
    right:15px;
    bottom:15px;
    border:1px solid #f0a591;
    padding:20px;
    text-align:center;
    box-shadow: 0 5px 10px rgba(9,0,0,0.5);
    
  }
  
  
  @keyframes animate {
    0% {
    transform:scaleX(0);
    transform-origin: left;
    }
    50%
    {
      transform:scaleX(1);
    transform-origin: left;
    }
    50.1%
    {
      transform:scaleX(1);
    transform-origin: right;
      
    }
    
    100%
    {
      transform:scaleX(0);
    transform-origin: right;
      
    }
  } 